<div class="card-deck justify-content-center">
  <div class="detail-card card">
    <%if @character.gender.downcase == 'female' %>
      <%= image_tag "person-girl-outline-filled.png", size: "256x256", alt: "Race Picture", class: "card-img-top mx-auto" %>
    <% elsif @character.gender.downcase == 'male' %>
      <%= image_tag "person-outline-filled.png", size: "256x256", alt: "Race Picture", class: "card-img-top mx-auto" %>
    <% else %>
      <%= image_tag "anon.png", size: "256x256", alt: "Race Picture", class: "card-img-top mx-auto" %>
    <% end %>
    <div class="card-body">
      <%= form_for [@account, @character] do |f| %>
        <div class="row">
          <div class="col">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control border', type: 'text'%>
          </div>
          <div class="col">
            <%= f.label :level %>
            <%= f.text_field :level, class: 'form-control border', type: 'text', disabled: true %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.label :race %>
            <%= f.select :race, ["Human", "Plant", "Mutant", "Merloc"], {}, { class: "form-control" } %>
          </div>
          <div class="col">
            <%= f.label :gender %>
            <%= f.select :gender, ["Male", "Female", "Other"], {}, { class: "form-control" } %>
            </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-1">
            <%= button_to "Update", account_character_path(@account, @character), method: "update", class: "btn btn-primary" %>
          </div>
          <div class="col-1">
            <%= button_to "Delete", account_character_path(@account, @character), method: "delete", class: "btn btn-secondary delete-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>