<!DOCTYPE html>
<html>
  <head>
    <title>Minion Master</title>
    <%= favicon_link_tag 'monster.png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

    <!-- CSS -->
    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link href="path_to/material.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "monster.png", size: "50x50", alt: "Monster Logo", class: "d-inline-block align-top" %>
        Minion Master
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
          <% if logged_in? %>
            <%= link_to "Profile", current_user, class: "nav-link nav-item" %>
            <%= link_to "Characters", account_characters_path(current_user), class: "nav-link nav-item active" %>
            <%= link_to "Inventory", 'inventory', class: "nav-link nav-item" %>
          <% end %>
        </div>
        <% if logged_in? %>
          <span>
            <%= button_to "Logout", logout_path, method: "post", class: "btn btn-secondary nav-link" %>
          </span>
        <% else %>
          <span>
            <%= button_to "Sign In", accounts_path, method: "get", class: "btn btn-primary nav-link" %>
          </span>
        <% end %>
          
      </div>
    </nav>

    <%= yield %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="path_to/material.min.js"></script>
  </body>
</html>
