<div class="container">
  <div class="row justify-content-center">
    <%= image_tag "lock-xxl.png", size: "50x50", alt: "Sign In Icon", class: "d-inline-block" %>
    <div class="col-med">  
      <h3>Sign in</h3>
    </div>
  </div>
  <% flash.each do |key, value| %>
    <div class="row justify-content-center">
      <div class="col-med alert alert-<%= key %>" role="alert"><%= value %></div>
    </div>
  <% end %>
  <%= form_with url: login_path do |f|%>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">  
        <%= f.label :email %>
        <%= f.text_field :email, 
          class: 'form-control border',
          type: 'email',
          placeholder: 'Enter email address'
        %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">  
        <%= f.label :password %>
        <%= f.text_field :password,
          class: 'form-control border',
          type: 'password',
          placeholder: 'Password'
        %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">   
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Remember me</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">  
        <%= f.submit 'Sign In', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">  
      <div class="row">
        <div class="col-auto mr-auto">
          <%= link_to "Forgot Password?", '/accounts/forgot_password' %>
        </div>
        <div class="col-auto" id="sign_up">
          <%= link_to "Don't have an account? Sign up", '/accounts/new' %>
        </div>
      </div>
    </div>
  </div>
</div>