<div class="container">
  <div class="row justify-content-center">
    <div class="col-med">  
      <h3>Create Account</h3>
    </div>
  </div>
  <% flash.each do |key, values| %>
    <div class="row justify-content-center">
      <% values.each do |value| %>
        <div class="col-auto alert alert-<%= key %>" role="alert"><%= value %></div>
      <% end %>
    </div>
  <% end %>
  <%= form_with model: @account do |f|%>
    <div class="row justify-content-center">
      <div class="col-md-8">  
        <%= f.label :email %>
        <%= f.text_field :email, 
          class: 'form-control border',
          type: 'email',
          placeholder: 'Enter email address'
        %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">  
        <%= f.label :password %>
        <%= f.text_field :password,
          class: 'form-control border',
          type: 'password',
          placeholder: 'Password'
        %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">  
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation,
          class: 'form-control border',
          type: 'password',
          placeholder: 'Confirm Password'
        %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= f.submit 'Create Account', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  <% end %>
  </div>
</div>